.App {
  margin: 0;
  padding: 0;
}

.topHero {
  background: rgba(110, 60, 188, 1);
  clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 82%);
  height: 100vh; /* Adjust based on your design */
}

.hamburger {
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  cursor: pointer;
  transition: 1s ease-in-out;
  position: absolute;
  top: 30px;
  right: 40px;
  display: none;
  background: none;
}

@media screen and (min-width: 100px) and (max-width: 768px) {
  nav > .nav-expand > ul {
    position: fixed;
    inset: 0 0 0 30%;
    list-style: none;
    padding: min(20rem, 28vh) 2rem;
    margin: 0;
    flex-direction: column;
    background-color: #fff;
    background: hsl(#fff/0.05);
    backdrop-filter: blur(15rem);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    text-align: left;
    -moz-transition: all 1000ms ease-in;
    -webkit-transition: all 1000ms ease-in;
    -o-transition: all 1000ms ease-in;
    transition: all 1000ms ease-in;
    z-index: 99;
  }
  nav > .nav-expand > ul > li {
    margin: 5px 0;
  }
  nav > .nav-expand > ul > li > a {
    text-decoration: none;
    color: #3d3d3d;
    font-size: 1.2em;
    font-weight: 600;
  }
  nav > .nav-expand > ul > li > a:hover {
    color: #6e3cbc;
  }
  .hamburger {
    position: absolute;
    /* display: block; */
  }
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
    color: blueviolet;
  }
  nav {
    margin: 0 1.2em;
    justify-content: left;
    padding: 0;
  }

  nav > .nav-menu > ul {
    display: none;
  }
}

.heroclass .hero-image > img {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.hero-connect > a {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

@media screen and (max-width: 650px) {
  .heroclass {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    margin: 2rem 0 0 0;
    padding: 2rem 0;
  }

  .heroclass .hero-image > img {
    width: 50vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
